body{
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.8px;
  padding: 10px;
}
h1{
  text-align: center;
}

.underline{
  text-decoration: underline;
}

.bold{
  font-weight: bolder;
}

.sec{
  padding: 20px 8px;
  margin: 40px 0px;
}

.text-wrapper1{
  display: inline-block;
  width: 30%;
  text-align: left;
}

.img-wrapper1{
  display: inline-block;
  vertical-align: top;
}

.img-wrapper2{
  display: inline-block;
  vertical-align: top;
}

.text-wrapper2{
  display: inline-block;
  width: 30%;
  text-align: right;
}

.sec.one{
  margin-left: -110px;
}

.sec.one .img-wrapper1{
  width: 219px;
  height: 219px;
}

.sc1{
  position:absolute;
  z-index:1;
  opacity: 1;
  animation-name: fade;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.vp1{
  position:absolute;
  z-index:-1;
}

.sec.four{
  margin-left: -230px;
}

.sec.four .img-wrapper2{
  width: 420px;
  height: 420px;
  padding-right: 230px;
}

.text-wrapper3{
  padding: 0% 15%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
